.adminToolbar {
    display: inline-block;
    width: 100%;
    background: #333;
    height: auto;
    margin: 0 auto;
    padding: 0;


    ul {
        float: right;

        li {
            display: inline-block;

            a {
                display: block;
                font-size: 1.6rem;
                color: #fff;
                line-height: 1;
                padding: 1rem;
                transition: all 0.4 ease-in-out;

                &hover {
                    background: rgb(209, 203, 203);
                    color: #222;
                    transition: all 0.4 ease-in-out;
                }
            }
        }
    }
}