.footer {
    .wrap {
        max-width: 1450px;
        padding: 20px 15px;
        margin: 0 auto;
        font-size: 1.4rem;
        color: #fff;
    }
    text-align: center;
    background: rgb(94, 100, 100);
}